%ResetBorder {
  border: 0;
  box-shadow: none;
}
.vxe-table-iview {
  .vxe-cell {
    > .ivu-input-wrapper,
    > .ivu-input-number,
    > .ivu-select,
    > .ivu-cascader,
    > .ivu-date-picker-editor {
      width: 100%;
    }
  }
  &.c--highlight {
    .vxe-cell {
      > .ivu-input-wrapper,
      > .ivu-auto-complete,
      > .ivu-cascader,
      > .ivu-date-picker {
        .ivu-input {
          padding: 0;
          @extend %ResetBorder;
        }
      }
      > .ivu-input-number {
        @extend %ResetBorder;
        .ivu-input-number-handler-wrap,
        .ivu-input-number-handler-down {
          @extend %ResetBorder;
        }
      }
      > .ivu-select {
        .ivu-select-selection {
          @extend %ResetBorder;
        }
      }
    }
  }
}